li {
  list-style: none;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.date {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #ADB8C8;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
  color: #242424;
}

.description {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #78787A;
}

.body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f0f0f0;
}

.body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 64px;
  background-color: #ffffff;
}

.body .header .header__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 16px;
}

.body .header .header__list_block {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #262626;
  position: relative;
  width: 498px;
  height: 24px;
  margin-left: 51px;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .header .header__list_block .header__list {
  margin-right: 20px;
}

.body .header .header__input_text {
  position: absolute;
  right: 0;
  width: 128px;
  height: 24px;
  margin-top: 20px;
  margin-right: 116px;
  border: none;
}

.body .header .header__serch_btn {
  position: absolute;
  right: 0;
  width: 20px;
  margin-top: 20px;
  margin-right: 71px;
}

.body .header .header__profile {
  position: absolute;
  right: 0;
  width: 24px;
  margin-top: 20px;
  margin-right: 20px;
}

.body .link_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #91A0B6;
  margin-top: 27px;
  margin-left: 158px;
}

.body .link_block .link {
  margin-right: 16px;
}

.body .link_block .link .link_arrow {
  margin-left: 16px;
}

.body .wrapper {
  position: relative;
  width: 1074px;
  height: 211px;
  border-radius: 16px;
  background-color: rgba(4, 191, 147, 0.186);
  padding-left: 56px;
  padding-top: 56px;
  margin: 0 auto;
  margin-top: 48px;
}

.body .wrapper .wrapper__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 48px;
  text-align: left;
  color: #04BF94;
  width: 736px;
  height: 48px;
}

.body .wrapper .wrapper__subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  color: #242424;
  margin-top: 8px;
}

.body .wrapper .wrapper__serch_input {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #91A0B6;
  width: 522px;
  height: 56px;
  border-radius: 16px;
  margin-top: 16px;
  border: none;
  padding-left: 16px;
}

.body .wrapper .wrapper__btn {
  position: relative;
  top: 9px;
  left: -45px;
  width: 20px;
  height: 20px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.body .wrapper .wrapper__image {
  position: absolute;
  right: 0;
  bottom: 0;
}

.body .main {
  width: 1074px;
  margin: 0 auto;
  margin-top: 48px;
}

.body .main .section_new {
  height: 416px;
}

.body .main .section_new .section_new__blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body .main .section_new .section_new__blog .section_new__blog_img {
  width: 521px;
  height: 364px;
  border-radius: 12px;
}

.body .main .section_new .section_new__blog .section_new__blog_text {
  margin-left: 32px;
}

.body .main .section_new .section_new__blog .section_new__blog_text .section_new__title {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  text-align: left;
  color: #242424;
}

.body .main .section_new .section_new__blog .section_new__blog_text .section_new__description {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #78787A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.body .main .section_top {
  width: 1074px;
  height: 661px;
  margin-top: 56px;
  border-top: 1px solid #C4C4C4;
}

.body .main .section_top .section_top__text {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: #91A0B6;
  width: 1074px;
  height: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.body .main .section_top .section_top__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body .main .section_top .section_top__block .section_top__block_item_first {
  margin-right: 32px;
}

.body .main .section_top .section_top__block .section_top__block_item {
  width: 521px;
  height: 504px;
}

.body .main .section_top .section_top__block .section_top__block_item .section_top__block_date {
  margin-top: 6px;
  width: 151px;
}

.body .main .section_top .section_top__block .section_top__block_item .section_top__block_title {
  margin-top: 8px;
  width: 288px;
  height: 36px;
}

.body .main .section_top .section_top__block .section_top__block_item .section_top__block_description {
  margin-top: 8px;
  width: 521px;
  height: 48px;
}
